body {
	background-color: #c9dce5;
	margin: 0px;
	font-size: 75%;
}

div {
	margin: 0px;
	padding: 0px;
}

form {
	background-image: url(../pics/loginform_background.png);
	background-repeat: no-repeat;
	margin: 20px auto;
	width: 540px; /* 620px */
	height: 140px; /* 600px */
	padding: 430px 40px 30px 40px;
}

form div#input {
	float: left;
	width: 250px;
}

form div#submit {
	float: left;
	width: 70px;
	padding-top: 5px;
}

form div#intro {
	float: left;
	width: 170px; /*210px;*/
	padding: 0px 20px;
}

form div.row {
	padding: 4px 2px;
	clear: both;
}

form label {
	float: left;
	width: 60px;
	padding: 4px;
	padding-right: 10px;
	text-align: right;
	/*font-weight: bold;*/
}

form input.text, form select {
	float: left;
	width: 160px;
	border-radius: 3px;
	/*padding: 2px 0px;*/
}

form input.image {
	float: left;
}

form div#intro p {
	margin: 0px 0px 5px;
	font-size: 90%;
	font-weight: bold;
	color: #e1e1d5;
}

.selectHospital {
	width: 164px;
}

.button {
	background: url(../pics/login_button.png) no-repeat;
	cursor: pointer;
	border: none;
}
.loginFail {
	width: 230px !important; 
	float: left; 
    padding: 4px;
    padding-right: 10px;
    text-align: right; 
    color: #b2032b;
    margin-left: 10px;
   
}
.warningLogin {
	width: 230px !important; 
	margin-top: -23px;
}
.imgClass {
	background-image: url(../pics/login_button.png);
	background-color: none !important;
	background-position: -2px -2px;
	background-repeat: no-repeat;
	width: 41px;
	height: 40px ;
	border: 0px; 
	cursor: pointer;
	outline: 0;
	
}

.imgClass:hover{ 
  background-position: -2px -2px;
}

.imgClass:active{
  background-position: -2px -2px;
}