
.msgSessionTimeOut{
	
	margin-bottom: 5px;
    font-size: 30px;
    font-weight: 400;
    color: #8a8a8a ;
    margin-top: 20px;
}
.linkBackHome{
	 font-size: 40px;
	 color: #ea2907;
}
.loginFail{
	 color: #bc2328;
}
.iconDanger{
	color: #bc2328;
}